@import "tailwindcss";

@font-face {
  font-family: "Nico Moji";
  src: url("https://db.onlinewebfonts.com/t/73c00071d90ecfb78bf0ccdeda529307.eot");
  src: url("https://db.onlinewebfonts.com/t/73c00071d90ecfb78bf0ccdeda529307.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/73c00071d90ecfb78bf0ccdeda529307.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/73c00071d90ecfb78bf0ccdeda529307.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/73c00071d90ecfb78bf0ccdeda529307.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/73c00071d90ecfb78bf0ccdeda529307.svg#Nico Moji") format("svg");
}

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #262322;
  color: #FC6351;
  font-family: "Nico Moji", monospace;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}


.header-diagonal::before {
  content: '';
  position: absolute;
  bottom: 29px;
  left: -75px;
  /* lo acercamos más al sidebar */
  width: 150px;
  height: 150px;
  background: transparent;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  background-color: #262322;
  /* color del fondo del sidebar */
  z-index: 59;

  /* solo borde en la base diagonal */
  border-top: 3px solid #FC6351;
  transform: rotate(-135deg);
  /* no lo rotamos, ya está en diagonal natural */
}